#demoCanvas{
    width: 1000px;
    height: 500px;
}

#body{
    width:1000px;
    margin-right: auto;
    margin-left: auto;
}

#action_stage{
	background-color: blue;
	width: 400px;
	height:	100px;
	position: absolute;
	top: 0;
	left : 0;
}

canvas{
	border: 1px solid black;
	z-index: 1;
}

#execute{
    z-index: 20000;
    position: absolute;
    top: 100;
    left: 615;
	padding: 30px;
	background-color: #4CAF50;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#execute:disabled{
	background-color: grey;
}

#restart{
	z-index: 20000;
    position: absolute;
    top: 150;
    left: 600;
	padding: 30px;
	background-color: #4CAF50;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    display: none;
}